build
dist
venv
.venv
songs
**__pycache__
**.egg-info
.tox
.mypy_cache
reports
.qt_for_python
*.pdf
**/*/config.ini
.pytest_cache
*.log

# generated locally
src/usdb_dl/gui/forms/*.py
src/usdb_dl/gui/resources/*.py
