[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
attrs = "*"
beautifulsoup4 = "*"
browser_cookie3 = "*"
dbus-python = {version = "*", markers="sys_platform == 'linux'"}
ffmpeg-normalize = ">=1.27"
filetype = "*"
importlib-metadata = "*"
keyring = "*"
lxml = "*"
mutagen = "*"
pdfme = "*"
pillow = ">=10"
pyshorteners = "*"
PySide6 = "==6.5.*"
requests = "*"
unidecode = "*"
yt_dlp = "*"
wheel = "*"
# build
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"
# specifically required for pyinstaller (Note: darwin -> macos)
macholib = {version = "*", markers="sys_platform == 'darwin'"}

[dev-packages]
tox = "*"
# lint
black = "==23.3"
isort = "==5.12"
mypy = "==1.2"
pylint = "==2.17"
types-setuptools = "*"
types-requests = "*"
# test
pytest = "*"
# entry points
usdb-syncer = {editable = true, path = "."}
snakeviz = "*"

[requires]
python_version = "3.11"
#python_full_version = "3.11.0"
