[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=USDB - Disney’s Aladdin - Friend Like Me
URL=http://usdb.animux.de/index.php?link=detail&id=279