[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=USDB - Disney’s Aladdin - Friend Like Me
URL=https://usdb.animux.de/?link=detail&id=17590