name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # Only create releases on matching tags following semver X.Y.Z

jobs:
  scrape-song-list:
    name: Scrape USDB song list
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install poetry
        run: |
          python -m pip install poetry
      - name: Install dependencies
        run: |
          poetry install --without dev --without bundle
      - name: Scrape USDB song list to ship with the bundle
        run: >
          poetry run python -m tools.generate_song_list_json
          -t 'song_list.json'
          -u '${{ secrets.USDB_USER }}'
          -p '${{ secrets.USDB_PASSWORD }}'
      - uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            song_list.json
            CHANGELOG.md

  bundle:
    name: Build bundles
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.image }}
    needs: scrape-song-list
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            image: docker.io/limitlessgeology/manylinux_python_buildimage
            TARGET: Linux
            PYINSTALLER_ARGS: >-
              --onefile
              --add-data 'artifacts/song_list.json:usdb_syncer/data'
              --add-data 'src/usdb_syncer/db/sql:usdb_syncer/db/sql'
              --add-data 'src/usdb_syncer/gui/resources/fonts:usdb_syncer/gui/resources/fonts'
              --add-data 'src/usdb_syncer/gui/resources/styles:usdb_syncer/gui/resources/styles'
              --add-data 'src/usdb_syncer/gui/resources/audio:usdb_syncer/gui/resources/audio'
              --add-data 'src/usdb_syncer/webserver/static:usdb_syncer/webserver/static'
              --add-data 'src/usdb_syncer/webserver/templates:usdb_syncer/webserver/templates'
          - os: macos-latest
            TARGET: macOS-arm64
            PYINSTALLER_ARGS: >-
              --windowed
              --icon src/usdb_syncer/gui/resources/qt/appicon_128x128.png
              --add-data 'artifacts/song_list.json:usdb_syncer/data'
              --add-data 'src/usdb_syncer/db/sql:usdb_syncer/db/sql'
              --add-data 'src/usdb_syncer/gui/resources/fonts:usdb_syncer/gui/resources/fonts'
              --add-data 'src/usdb_syncer/gui/resources/styles:usdb_syncer/gui/resources/styles'
              --add-data 'src/usdb_syncer/gui/resources/audio:usdb_syncer/gui/resources/audio'
              --add-data 'src/usdb_syncer/webserver/static:usdb_syncer/webserver/static'
              --add-data 'src/usdb_syncer/webserver/templates:usdb_syncer/webserver/templates'
          - os: macos-15-intel
            TARGET: macOS-x64
            PYINSTALLER_ARGS: >-
              --windowed
              --icon src/usdb_syncer/gui/resources/qt/appicon_128x128.png
              --add-data 'artifacts/song_list.json:usdb_syncer/data'
              --add-data 'src/usdb_syncer/db/sql:usdb_syncer/db/sql'
              --add-data 'src/usdb_syncer/gui/resources/fonts:usdb_syncer/gui/resources/fonts'
              --add-data 'src/usdb_syncer/gui/resources/styles:usdb_syncer/gui/resources/styles'
              --add-data 'src/usdb_syncer/gui/resources/audio:usdb_syncer/gui/resources/audio'
              --add-data 'src/usdb_syncer/webserver/static:usdb_syncer/webserver/static'
              --add-data 'src/usdb_syncer/webserver/templates:usdb_syncer/webserver/templates'
          - os: windows-latest
            TARGET: Windows
            PYINSTALLER_ARGS: >-
              --onefile
              --icon src/usdb_syncer/gui/resources/qt/appicon_128x128.png
              --add-data 'artifacts/song_list.json;usdb_syncer/data'
              --add-data 'src/usdb_syncer/db/sql;usdb_syncer/db/sql'
              --add-data 'src/usdb_syncer/gui/resources/fonts;usdb_syncer/gui/resources/fonts'
              --add-data 'src/usdb_syncer/gui/resources/styles;usdb_syncer/gui/resources/styles'
              --add-data 'src/usdb_syncer/gui/resources/audio;usdb_syncer/gui/resources/audio'
              --add-data 'src/usdb_syncer/webserver/static;usdb_syncer/webserver/static'
              --add-data 'src/usdb_syncer/webserver/templates;usdb_syncer/webserver/templates'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v4
      - name: Mark Git directory as safe
        if: contains(matrix.os, 'ubuntu')
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: On macOS and windows, install python normally (linux container has python preinstalled)
        if: contains(matrix.os, 'macos') || contains(matrix.os, 'windows')
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.9"
      - name: Install poetry (linux container has poetry preinstalled)
        if: contains(matrix.os, 'macos') || contains(matrix.os, 'windows')
        run: python -m pip install poetry
      - name: Workaround Poetry issue https://github.com/python-poetry/poetry/issues/10028
        if: contains(matrix.TARGET, 'windows')
        run: python -m pip install "poetry-dynamic-versioning[plugin]"
      - name: Install dependencies
        run: poetry install --without dev
      - name: Set macOS deployment target (macOS 12+ compatibility)
        if: startsWith(matrix.os, 'macos')
        run: echo "MACOSX_DEPLOYMENT_TARGET=12.0" >> $GITHUB_ENV
      - name: Write release version
        shell: bash
        run: |
          set -e
          version=$(poetry run dunamai from git)
          echo "__version__ = '${version}'" > src/usdb_syncer/_version.py
      - name: Generate GUI elements
        run: poetry run python -m tools.generate_pyside_files
      - name: Bundle with pyinstaller for ${{matrix.os}}
        # _tkinter hook is run erroneously?
        run: >
          poetry run pyinstaller
          -n 'USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}'
          --exclude-module _tkinter
          ${{matrix.PYINSTALLER_ARGS}}
          src/usdb_syncer/gui/__init__.py
      - name: Create DMG
        if: contains(matrix.TARGET, 'macOS')
        run: |
          brew install create-dmg
          create-dmg \
            --volname "USDB Syncer" \
            --volicon "src/usdb_syncer/gui/resources/qt/appicon_128x128.png" \
            --window-pos 200 120 \
            --window-size 600 300 \
            --icon-size 128 \
            --text-size 14 \
            --icon "USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.app" 175 120 \
            --hide-extension "USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.app" \
            --app-drop-link 425 120 \
            --hdiutil-quiet \
            --no-internet-enable \
            "dist/USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.dmg" \
            "dist/USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.app"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-artifacts
          path: |
            dist/*Linux
            dist/*.dmg
            dist/*.exe

  release:
    name: Create release
    permissions:
      contents: write
    needs: bundle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - name: Extract Release Notes
        id: extract_notes
        run: >
          awk 'BEGIN { RS="<!-- [0-9]+\\.[0-9]+\\.[0-9]+ -->\\s*"; ORS=""; }
          NR==2 { print $0; exit; }'
          artifacts/CHANGELOG.md >CHANGELOG.md
        shell: bash
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/USDB_Syncer*"
          bodyFile: "CHANGELOG.md"

  publish:
    name: Build and publish release to PyPI
    needs: release
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/usdb_syncer
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install poetry
        run: python -m pip install poetry
      - name: Install dependencies
        run: poetry install --only build
      - name: Write release version
        run: echo "__version__ = '$(poetry run dunamai from git)'" > src/usdb_syncer/_version.py
      - name: Generate GUI elements
        run: poetry run python -m tools.generate_pyside_files
      - name: Build package
        run: poetry build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
