name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+" # Only create releases on matching tags following semver X.Y.Z

jobs:
  scrape-song-list:
    name: Scrape USDB song list
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Linux specific dependencies for dbus-python
        run: |
          sudo apt install -y gcc python3-dev libdbus-1-dev
          pkg-config --cflags --libs dbus-1
      - name: Install Pipenv
        run: |
          python -m pip install pipenv
      - name: Install dependencies
        run: |
          pipenv sync --system
      - name: Scrape USDB song list to ship with the bundle
        run: >
          env PYTHONPATH=$(pwd)/src
          python -m src.tools.generate_song_list_json
          -t 'song_list.json'
          -u '${{ secrets.USDB_USER }}'
          -p '${{ secrets.USDB_PASSWORD }}'
      - uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            song_list.json
            CHANGELOG.md

  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    needs: scrape-song-list
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            TARGET: Linux
            PYINSTALLER_ARGS: >-
              --onefile
              --add-data 'artifacts/song_list.json:data'
              --add-data 'src/usdb_syncer/db/sql:src/usdb_syncer/db/sql'
          - os: macos-latest
            TARGET: macOS
            PYINSTALLER_ARGS: >-
              --windowed
              --icon src/usdb_syncer/gui/resources/appicon_128x128.png
              --add-data 'artifacts/song_list.json:data'
              --add-data 'src/usdb_syncer/db/sql:src/usdb_syncer/db/sql'
          - os: windows-latest
            TARGET: Windows
            PYINSTALLER_ARGS: >-
              --onefile
              --icon src/usdb_syncer/gui/resources/appicon_128x128.png
              --add-data 'artifacts/song_list.json;data'
              --add-data 'src/usdb_syncer/db/sql;src/usdb_syncer/db/sql'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Install Linux specific dependencies for dbus-python
        if: matrix.TARGET == 'Linux'
        run: |
          sudo apt install -y gcc python3-dev libdbus-1-dev
          pkg-config --cflags --libs dbus-1
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "6.5.*"
          setup-python: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Pipenv
        run: |
          python -m pip install pipenv
      - name: Install dependencies
        run: |
          pipenv sync --system
      - name: Prepend src to PYTHONPATH (Windows)
        run: |
          echo "PERSISTENT_PYTHONPATH=$(pwd)\src;$env:PYTHONPATH" >> $env:GITHUB_ENV
        if: matrix.TARGET == 'Windows'
      - name: Prepend src to PYTHONPATH (Linux/macOS)
        run: |
          echo "PERSISTENT_PYTHONPATH=$(pwd)/src:$PYTHONPATH" >> $GITHUB_ENV
        if: matrix.TARGET == 'Linux' || matrix.TARGET == 'macOS'
      - name: Write version and commit hash
        run: >
          python -m src.tools.write_release_info
          -p src/usdb_syncer/constants.py
          -v ${{ github.ref_name }}
          -c ${{ github.workflow_sha }}
        env:
          PYTHONPATH: ${{ env.PERSISTENT_PYTHONPATH }}
      - name: Generate GUI elements
        run: python -m src.tools.generate_pyside_files
        env:
          PYTHONPATH: ${{ env.PERSISTENT_PYTHONPATH }}
      - name: add dependencies for xcb support
        if: matrix.TARGET == 'Linux'
        run: |
          sudo apt install libxcb-cursor0
      - name: Build with pyinstaller for ${{matrix.os}}
        run: >
          pyinstaller
          -n 'USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}'
          ${{matrix.PYINSTALLER_ARGS}}
          src/usdb_syncer/gui/__init__.py
      - name: Create DMG
        if: matrix.TARGET == 'macOS'
        run: |
          brew install create-dmg
          create-dmg \
            --volname "USDB Syncer" \
            --volicon "src/usdb_syncer/gui/resources/appicon_128x128.png" \
            --window-pos 200 120 \
            --window-size 600 300 \
            --icon-size 128 \
            --text-size 14 \
            --icon "USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.app" 175 120 \
            --hide-extension "USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.app" \
            --app-drop-link 425 120 \
            --hdiutil-quiet \
            --no-internet-enable \
            "dist/USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.dmg" \
            "dist/USDB_Syncer-${{github.ref_name}}-${{matrix.TARGET}}.app"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-artifacts
          path: |
            dist/*Linux
            dist/*.dmg
            dist/*.exe

  release:
    name: Create release
    permissions:
      contents: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - name: Extract Release Notes
        id: extract_notes
        run: >
          awk 'BEGIN { RS="<!-- [0-9]+\\.[0-9]+\\.[0-9]+ -->\\s*"; ORS=""; }
          NR==2 { print $0; exit; }'
          artifacts/CHANGELOG.md >CHANGELOG.md
        shell: bash
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/USDB_Syncer*"
          bodyFile: "CHANGELOG.md"
