name: tox

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  tox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system libraries for qt
        run: |
          sudo apt-get install -y libegl1 libgl1 libxcb1 libx11-6 libxext6 libxrender1 libxkbcommon-x11-0 libxcomposite1 libxcursor1 libxi6 libxrandr2 libxfixes3 libxdamage1 libnss3 libdbus-1-3 libfontconfig1 libfreetype6 libglib2.0-0 libsm6 libice6
      - name: Install tox and poetry
        run: python -m pip install tox poetry
      - name: Test with tox
        run: tox -- --runslow
